# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv(url, sep = "\t")
print(chipo.shape[0])
chipo.head(2)

4622

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

### Step 4. How many products cost more than $10.00?

In [ ]:
chipo['item_price'] = chipo['item_price'].replace('$', '')
chipo['item_price'] = chipo['item_price'].astype(float)

chipo[chipo['item_price'] > 10.00].count()[0]

1130

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

In [ ]:
l = []
lp = []
for i in range(len(chipo)):
  if chipo['item_name'][i] not in l:
    if chipo['quantity'][i] == 1:
      l.append(chipo['item_name'][i])
      lp.append(chipo['item_price'][i])

l = np.array(l)
lp = np.array(lp, dtype=float)
df = pd.DataFrame({"item_name": l, "item_price": lp}, columns = ["item_name","item_price"])
df

                                item_name  item_price
0            Chips and Fresh Tomato Salsa        2.39
1                                    Izze        3.39
2                        Nantucket Nectar        3.39
3   Chips and Tomatillo-Green Chili Salsa        2.39
4                            Chicken Bowl       10.98
5                           Side of Chips        1.69
6                           Steak Burrito       11.75
7                        Steak Soft Tacos        9.25
8                     Chips and Guacamole        4.45
9                    Chicken Crispy Tacos        8.75
10                     Chicken Soft Tacos        8.75
11                        Chicken Burrito        8.49
12                       Barbacoa Burrito        8.99
13                       Carnitas Burrito        8.99
14                            Canned Soda        1.09
15                          Carnitas Bowl        8.99
16                          Bottled Water        1.09
17  Chips and Tomatillo Green Chili Salsa        2.95
18                          Barbacoa Bowl       11.75
19                                  Chips        2.15
20                     Chicken Salad Bowl        8.75
21                             Steak Bowl        8.99
22                    Barbacoa Soft Tacos        9.25
23                         Veggie Burrito       11.25
24                            Veggie Bowl       11.25
25                     Steak Crispy Tacos        9.25
26    Chips and Tomatillo Red Chili Salsa        2.95
27                  Barbacoa Crispy Tacos       11.75
28                      Veggie Salad Bowl       11.25
29     Chips and Roasted Chili-Corn Salsa        2.39
30     Chips and Roasted Chili Corn Salsa        2.95
31                    Carnitas Soft Tacos        9.25
32                          Chicken Salad       10.98
33                      Canned Soft Drink        1.25
34                      6 Pack Soft Drink        6.49
35    Chips and Tomatillo-Red Chili Salsa        2.39
36                                Burrito        7.40
37                           Crispy Tacos        7.40
38                  Carnitas Crispy Tacos        9.25
39                       Steak Salad Bowl       11.89
40                            Steak Salad        8.99
41                                   Bowl        7.40
42      Chips and Mild Fresh Tomato Salsa        3.00
43                      Veggie Soft Tacos       11.25
44                    Carnitas Salad Bowl       11.89
45                    Barbacoa Salad Bowl       11.89
46                                  Salad        7.40
47                    Veggie Crispy Tacos        8.49
48                           Veggie Salad        8.49
49                         Carnitas Salad        8.99

### Step 6. Sort by the name of the item

In [ ]:
chipo.sort_values(by=['item_name']) # (.reset_index())

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [ ]:
# xx = np.where(chipo.item_price == chipo.item_price.max(),chipo.quantity,0)
# for i in xx:
#     if i!=0:
#         print("Quantity of the most expensive item ordered is : ",i)

chipo['quantity'][chipo['item_price'] == chipo['item_price'].max()].values[0]

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
c = 0
cq = 0
for i in range(len(chipo)):
  if chipo['item_name'][i] == "Veggie Salad Bowl":
    c += 1
    cq += 1 * chipo['quantity'][i]
print(c, cq)

chipo[chipo['item_name'] == "Veggie Salad Bowl"].count()[0]

18 18

18

### Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
cs = 0
for i in range(len(chipo)):
  if chipo['item_name'][i] == "Canned Soda":
    if chipo['quantity'][i] > 1:
      cs += 1
print(cs)

chipo[(chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)].count()[0]

20

20